/*评论区*/
.issue #myEditor{ width:860px !important; height:100px;}
#myEditor p{ font-size:15px; font-family:'微软雅黑';}
.Editor{ width:880px !important; margin-top:15px; margin-bottom:30px;}
.edui-container{ width:876px !important;}
.detail h4{ margin-top:10px;}
.detail h1,.detail h2,.detail h3,.detail h4{ line-height:30px; font-size:16px; color:#333;}
.detail img{ margin:10px 0;}
.info dl dt{ width:80px; margin-left:15px; float:left;}
.info dl dd{ width:870px; float:right;}
.reply-area { display:block !important;}
.status-meta{ background:#F5F5F5; padding:10px 0;}
.status-meta .time{ margin-left:15px; color:#999;}
.status-meta a{ padding-left:10px;}
.status-meta a:hover{ color:#2163a6;}
.status-meta .time{ color:#888;}
.meta-btns a:hover{ color:#3078bf}
.replay_box .info>dl dt .hd-img{ width:50px; margin:0 auto;}
.replay_box .info>dl dd { width:750px;}
.replay_box .btn-praise{ display:inline-block;}
.replay_box .title{ height:36px; line-height:36px;}
.replay_box .title span{ margin-left:10px;}
.re_replays .time{ color:#999; font-size:12px;}
.textarea4{ width:858px;box-shadow: 2px 2px 4px #EEE;}
table td{ margin:0; padding:5px; border:1px solid #DDD !important;}
.frName{ margin:0 !important; font-size:15px !important;}
.replay_box h5{ margin-top:0 !important; word-wrap:break-word; overflow:hidden;}
#singleTopic{ border-bottom:none;}
#singleTopic .status-meta{ margin-top:15px;}
#singleTopic .status-meta .fl span{ margin-left:6px;}
.detail p{ word-wrap:break-word;}

/*附件 icon*/
.doc,.ppt,.pdf,.img,.excel{ height:20px; background:url(../images/attach_icon.png) no-repeat; padding-left:22px;}
.doc{ background-position:0 0;}
.excel{ background-position:0 -18px;}
.img{ background-position:0 -36px;}
.ppt{ background-position:0 -52px;}
.pdf{ background-position:0 -71px;}

/*添加投资报告*/
.atta{ padding:10px 0; line-height:32px; border:1px dotted #ccc;}
.addAtta{ width:70px; height:36px; line-height:36px; text-align:center; background:#2d75bd url(../images/atta_w.png) no-repeat; background-position:2px center; border:1px solid #2b6fb3; color:#FFF; margin:0 10px; padding-left:12px; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; position:relative;}
.addAtta:hover{ background:#45a3e5 url(../images/atta_w.png) no-repeat; background-position:2px center; border:1px solid #419ad9;}
.addAtta input{ width:80px; height:32px; opacity:0; position:absolute; z-index:99; left:0;}
.atta .files{ width:850px; line-height:32px; margin-left:10px;}
.atta .files p{ display:inline-block; line-height:30px; font-size:13px; margin:0 10px; float:left;}
.atta .files p i{ font-style:normal; margin:0 5px;}
.atta .files p i,.atta div p a{ color:#777;}
.atta .files p a:hover{ color:#06c; text-decoration:underline;}
