@charset "utf-8";
/* CSS Document */

/*比赛名称下拉列表*/
.pullSelector{ position:absolute; max-height:320px; overflow-x:hidden; overflow-y:scroll; background:#fff; z-index:999; border-top:none; border:1px solid #ddd; border-top:none; box-shadow:3px 2px 3px #ddd;}
.pullSelector li{ height:24px; line-height:24px; position:relative; padding:4px 10px; }
.pullSelector li:hover{ background:#4595e5;}
.pullSelector li:hover a{ color:#fff;}
.pullSelector li i{ display:inline-block; width:24px; height:24px; background:url(../images/icon_normal.png) no-repeat; background-position:0 -290px; position:relative; z-index:1; float:left;}
.pullSelector li i.selected{ background:url(../images/icon_on.png) no-repeat; background-position:0 -290px;}
.pullSelector input{ position:absolute; width:24px; height:24px; left:10px; z-index:9999;}
.pullSelector li a{ color:#444; float:left;}
