@charset "utf-8";
.tab01{ position:relative; border-bottom:1px solid #DDD; margin-bottom:10px;}
.tab01 .fr{ position:relative; top:5px;}
.tab01 .refresh{ margin-left:5px;}
.refresh{ margin-right:5px;}
.refresh:hover{ color:#06c;}
.tab01 ul{ width:510px;}
.userName,.sch,.col,.dpt,.maj,.cls{display:inline-block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.userName{ width:100px;}
.sch{ width:220px;}
.col{ width:200px;}
.dpt{ width:220px;}
.maj{ width:220px;}
.cls{ width:180px;}

/*状态选择*/
.compet_status{ background:#f6f6f6; margin-bottom:10px; margin-top:10px;}
.compet_status>div{ display:inline-block; float:left;}
.compet_status label{ width:100px; text-align:center; font-size:15px; font-weight:bold; color:#666; margin-right:5px;}
.compet_status label,.compet_status p{ display:inline-block; height:38px; line-height:38px; float:left;}
.compet_status p{ margin-right:10px; position:relative; font-size:15px;}
.compet_status p input[type=radio]{ display:inline-block; width:60px; height:30px; filter:alpha(opacity=0); -moz-opacity:0; -khtml-opacity:0; opacity:0; position:absolute; left:0; z-index:99;}
.compet_status p input[type=checkbox]{ display:inline-block; width:24px; height:40px; filter:alpha(opacity=0); -moz-opacity:0; -khtml-opacity:0; opacity: 0; position:absolute; z-index:99;}
.compet_status p span{ margin-right:10px; font-weight:bold; color:#666;}
.compet_status p i{ display:inline-block; width:24px; height:30px; position:relative; z-index:0;}
.compet_status .rd i{ background:url(../images/icon_normal.png) no-repeat; background-position:0 -430px; top:3px;}
.compet_status .rd i.selected{ background:url(../images/icon_on.png) no-repeat; background-position:0 -430px;}
.compet_status .cb i{ background:url(../images/icon_normal.png) no-repeat; background-position:0 -430px; top:3px;}
.compet_status .cb i.selected,.compet_status .cb i:hover{  background:url(../images/icon_on.png) no-repeat; background-position:0 -430px;}
