@charset "utf-8";
/* CSS Document */
.search .outPut{ display:inline-block; width:70px; text-align:center; margin-right:5px;}
.search .outPut:hover{ color:#136FB9; border:1px solid #BBB;}
.refresh{ display:inline-block; width:30px; padding-right:5px;}
.refresh:hover{ color:#136FB9; border:1px solid #BBB;}
.tab01{ border-bottom:1px solid #DDD; width:100%;}
.tab01 ul{ display:inline-block; width:400px;}
.tb th,.tb td{ font-size:13px;}
.userName{ display:inline-block; width:60px; height:24px; line-height:24px;/* position:relative; top:6px;*/padding:0; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.tb .datetime{ font-size:12px;}
.tabCont > div{ display:none;}
/*下单理由浮层*/
.orderReason{ width:500px; display:none;}
.orderReason .details{ height:100px; overflow-y:scroll; padding-right:8px;word-wrap: break-word;}